<div class="w-full h-screen flex flex-col justify-start items-center relative">
  <div class="flex h-20% w-full flex-col items-start justify-start p-5">
    <div class="h-1/3 w-full">
      <h1 class="large-heading-text font-norwester font-bold">
        Play Stickman Games
      </h1>
    </div>

    <div class="w-full h-fit p-5">
      <h2 class="small-heading-text font-norwester font-bold">
        Choose from a bunch of classic St1kman games, take screenshots, post
        your high scores in the telegram and on X, who knows you might be
        rewarded.
      </h2>
    </div>
  </div>

  <div
    class="w-full h-80% flex flex-col justify-start items-center overflow-y-scroll no-scrollbar relative"
  >
    <div class="flex flex-row w-full justify-evenly items-start p-5">
      <button mat-button [matMenuTriggerFor]="menu" class="p-8">
        <h1 class="font-norwester medium-heading-text">Select A Game</h1>
      </button>
      <mat-menu #menu="matMenu" xPosition="after" yPosition="below">
        <button
          mat-menu-item
          (click)="selectGame('stikmanDestruction', 'Stick Man Destruction')"
        >
          Stikman Destruction
        </button>
        <button
          mat-menu-item
          (click)="selectGame('stickGuysDefense', 'Stick Guy Defense')"
        >
          Stick Guys Defense
        </button>
        <button mat-menu-item (click)="selectGame('getOnTop', 'Get On Top')">
          Get On Top
        </button>
        <button
          mat-menu-item
          (click)="selectGame('crazyStickManPhysics', 'Crazy Stickman Physics')"
        >
          Crazy Stickman Physics
        </button>
      </mat-menu>
      <h1 class="medium-heading-text font-norwester">{{ title }}</h1>
    </div>

    <iframe
      [hidden]="games.stickGuysDefense"
      src="https://www.onlinegames.io/games/2022/unity3/stick-guys-defense/index.html"
      width="70%"
      height="70%"
      class="rounded-lg"
    >
    </iframe>
    <iframe
      [hidden]="games.stikmanDestruction"
      src="https://www.onlinegames.io/games/2021/unity3/stickman-destruction/index.html"
      width="70%"
      height="70%"
      class="rounded-lg"
    >
    </iframe>
    <iframe
      [hidden]="games.getOnTop"
      src="https://www.onlinegames.io/games/2024/code/6/get-on-top/index.html"
      width="70%"
      height="70%"
      class="rounded-lg"
    >
    </iframe>
    <iframe
      [hidden]="games.crazyStickManPhysics"
      src="https://www.onlinegames.io/games/2023/construct/185/crazy-stickman-physics/index.html"
      width="70%"
      height="70%"
      class="rounded-lg"
    >
    </iframe>
  </div>
</div>
