<div
  *ngIf="horizontal"
  class="w-full inline-flex flex-nowrap overflow-hidden bg-solanaPurple pb-5"
>
  <ul
    class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
  >
    <li *ngFor="let stickman of stickmen">
      <img class="h-5vh w-5vh" [src]="stickman" alt="Facebook" />
    </li>
  </ul>
  <ul
    class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
    aria-hidden="true"
  >
    <li *ngFor="let stickman of stickmen">
      <img class="h-5vh w-5vh" [src]="stickman" alt="Facebook" />
    </li>
  </ul>
</div>
<div
  *ngIf="!horizontal"
  class="h-full w-full inline-flex flex-col overflow-y-hidden bg-solanaPurple"
>
  <ul
    class="flex flex-col items-center justify-center [&_li]:my-8 [&_img]:max-h-none animate-vertical-scroll overflow-y-hidden"
  >
    <li *ngFor="let stickman of stickmen">
      <img class="h-5vh w-5vh" [src]="stickman" alt="Facebook" />
    </li>
  </ul>
  <ul
    class="flex flex-col items-center justify-center [&_li]:my-8 [&_img]:max-h-none animate-vertical-scroll overflow-y-hidden"
    aria-hidden="true"
  >
    <li *ngFor="let stickman of stickmen">
      <img class="h-5vh w-5vh" [src]="stickman" alt="Facebook" />
    </li>
  </ul>
  <ul
    class="flex flex-col items-center justify-center [&_li]:my-8 [&_img]:max-h-none animate-vertical-scroll overflow-y-hidden"
    aria-hidden="true"
  >
    <li *ngFor="let stickman of stickmen">
      <img class="h-5vh w-5vh" [src]="stickman" alt="Facebook" />
    </li>
  </ul>
  <ul
    class="flex flex-col items-center justify-center [&_li]:my-8 [&_img]:max-h-none animate-vertical-scroll overflow-y-hidden"
    aria-hidden="true"
  >
    <li *ngFor="let stickman of stickmen">
      <img class="h-5vh w-5vh" [src]="stickman" alt="Facebook" />
    </li>
  </ul>
</div>
