<div
  #memecenter
  name="memecenter"
  class="flex flex-col h-screen justify-center w-full shadow-lg shadow-white relative overflow-hidden backgroundImage"
  id="memecenter"
  appIsInView
>
  <div class="absolute z-[-2] h-full w-full">
    <div
      class="w-full h-full absolute grid lg:grid-cols-5 xl:grid-cols-5 xxl:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 xs:grid-cols-2 gap-1"
    >
      <div
        *ngFor="let imag of backGroundImages"
        class="bg-contain bg-inherit aspect-square rounded-md"
        [ngStyle]="{ 'background-image': 'url(' + imag + ')' }"
      ></div>
    </div>
  </div>
  <div class="w-full flex flex-col h-full justify-center items-center">
    <div class="h-10% w-full flex felx-col justify-start">
      <h1 class="large-heading-text font-norwester font-bold p-5">
        Creator Hub
      </h1>
    </div>
    <div class="flex flex-row w-full h-90% justify-center items-center">
      <img
        *ngIf="!this.isSmallScreen"
        class="h-60vh w-45vh relative z-0 mt-15vh animate-dance"
        src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Fst1kman-variations%2Fwhat%20anime%20surprise.webp?alt=media&token=db5f4057-ab34-4be2-a970-838fd26e970f"
        alt=""
      />

      <div
        class="w-2/3 h-full flex flex-col justify-evenly items-center text-center overflow-y-scroll no-scrollbar"
      >
        <p class="medium-heading-text font-norwester p-5 leading-[3rem]">
          Here's the deal: 🎯 You got Nifty Island, ANY gaming platform? Bring
          your St1kman there, show your skills, and get rewarded. We're talkin'
          meme battles, vid comps, and some fat rewards for the real ones who
          step up and rep St1kman.
        </p>
        <p class="medium-heading-text font-norwester p-5 leading-[3rem]">
          We’re droppin' files, assets, and access so everyone can make St1kman
          stick. This isn’t for a chosen few; this is for all of you. Grab GIMP,
          Blender, Adobe, chatgpt, claude, dall.e whatever—start creatin',
          sharin', and addin' to the legend. Stay tuned for collabs, spaces, and
          wild drops comin' soon
        </p>
      </div>
      <img
        *ngIf="!this.isSmallScreen"
        class="h-60vh w-45vh relative z-0 mb-25vh animate-dance"
        src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Fst1kman-variations%2FStikman-punch.webp?alt=media&token=14b426db-07e0-472c-a974-e7fc68db1e1d"
        alt=""
      />
    </div>
  </div>
</div>
<div
  #2deditor
  name="2deditor"
  class="flex flex-col w-full h-screen shadow-lg shadow-white backgroundImage"
  id="2deditor"
  appIsInView
>
  <div class="flex flex-col w-full h-10%">
    <h1 class="large-heading-text font-norwester p-5">
      2D Meme Maker and Editor
    </h1>
  </div>
  <div
    class="flex flex-col h-90% items-center justify-center text-center w-full overflow-y-scroll no-scrollbar"
  >
    <iframe
      [src]="photopeaURL"
      frameborder="0"
      width="85%"
      height="85%"
      class="border-8 border-white rounded-md"
    ></iframe>
  </div>
</div>
<div
  #downloadcenter
  name="downloadcenter"
  class="flex flex-col w-full h-screen shadow-white backgroundImage justify-start overflow-y-hidden no-scrollbar"
  id="downloadcenter"
  appIsInView
>
  <div class="flex flex-col w-full h-10%">
    <h1 class="large-heading-text font-norwester p-5">Download Center</h1>
  </div>
  <div
    class="w-full flex md:flex-row sm:flex-col xs:flex-col h-[82%] sm:overflow-y-scroll xs:overflow-y-scroll md:overflow-hidden no-scrollbar"
  >
    <div class="md:w-1/2 sm:w-full flex flex-col h-100vh">
      <h1 class="medium-heading-text font-norwester p-5">
        Click To Download Creator Assets
      </h1>
      <app-image-grid
        [showNames]="true"
        [imagesInput]="assetDownLoadImages"
      ></app-image-grid>
    </div>
    <div
      class="md:w-1/2 sm:pt-8 xs:pt-8 md:pt-0 sm:w-full flex flex-col h-full"
    >
      <h1 class="medium-heading-text font-norwester p-5">
        Click To Download Memes
      </h1>
      <app-image-grid
        [showNames]="false"
        [imagesInput]="memeImages"
      ></app-image-grid>
    </div>
  </div>
</div>
