<div
  #memecenter
  name="memecenter"
  class="flex flex-row w-full h-screen shadow-lg shadow-white backgroundImage"
  id="memecenter"
  appIsInView
>
  <div class="w-full flex flex-col h-full justify-center items-center">
    <div class="h-10% w-full flex felx-col justify-start">
      <h1 class="large-heading-text font-norwester font-bold p-5">
        Creator Hub
      </h1>
    </div>
    <div class="flex flex-row w-full h-90% justify-center items-center">
      <img
        *ngIf="!this.isSmallScreen"
        class="h-60vh w-45vh relative z-0 mt-15vh"
        src="../../../assets/images/web-assets/what anime surprise.png"
        alt=""
      />

      <div
        class="w-2/3 h-full flex flex-col justify-evenly items-center text-center overflow-y-scroll no-scrollbar"
      >
        <p class="medium-heading-text font-norwester p-5 leading-[3rem]">
          Aight, listen up—St1kman’s been runnin' this game since cavemen were
          scratchin' tales on walls. From fire-lit stories to flipbooks in
          classrooms, and now, straight into the digital age. St1kman’s seen it
          all, and guess what? He ain’t goin' nowhere.
        </p>
        <p class="medium-heading-text font-norwester p-5 leading-[3rem]">
          Here's the deal: 🎯 You got Nifty Island, ANY gaming platform? Bring
          your St1kman there, show your skills, and get rewarded. We're talkin'
          meme battles, vid comps, and some fat rewards for the real ones who
          step up and rep St1kman.
        </p>
        <p class="medium-heading-text font-norwester p-5 leading-[3rem]">
          We’re droppin' files, assets, and access so everyone can make St1kman
          stick. This isn’t for a chosen few; this is for all of you. Grab GIMP,
          Blender, Adobe, chatgpt, claude, dall.e whatever—start creatin',
          sharin', and addin' to the legend. Stay tuned for collabs, spaces, and
          wild drops comin' soon
        </p>
      </div>
      <img
        *ngIf="!this.isSmallScreen"
        class="h-60vh w-45vh relative z-0 mb-25vh"
        src="../../../assets/images/web-assets/Stikman-punch.png"
        alt=""
      />
    </div>
  </div>
</div>
<div
  #2deditor
  name="2deditor"
  class="flex flex-col w-full h-screen shadow-lg shadow-white backgroundImage"
  id="2deditor"
  appIsInView
>
  <div class="flex flex-col w-full h-10%">
    <h1 class="large-heading-text font-norwester p-5">2D St1kman Editor</h1>
  </div>
  <div
    class="flex flex-col h-90% items-center justify-center text-center w-full overflow-y-scroll no-scrollbar"
  >
    <iframe
      [src]="photopeaURL"
      frameborder="0"
      width="85%"
      height="85%"
      class="border-8 border-white rounded-md"
    ></iframe>
  </div>
</div>
<div
  #downloadcenter
  name="downloadcenter"
  class="flex flex-col w-full h-screen shadow-white backgroundImage overflow-y-scroll no-scrollbar"
  id="downloadcenter"
  appIsInView
>
  <div class="flex flex-col w-full h-10%">
    <h1 class="large-heading-text font-norwester p-5">Download Center</h1>
  </div>
  <div class="w-full flex flex-row h-90% pt-8">
    <div class="w-1/2 flex flex-col h-full">
      <h1 class="medium-heading-text font-norwester">
        Click To Download Creator Assets
      </h1>
    </div>
    <div class="w-1/2 flex flex-col h-full">
      <h1 class="medium-heading-text font-norwester">
        Click To Download Memes
      </h1>
      <app-image-grid></app-image-grid>
    </div>
  </div>
</div>
