<div
  class="w-screen max-h-[910vh] flex flex-row overflow-y-hidden justify-between bg-black z-0 no-scrollbar"
>
  <app-stikman-border
    class="z-10 w-5vh"
    [horizontalInput]="false"
  ></app-stikman-border>

  <div
    class="no-scrollbar flex flex-col h-full overflow-y-scroll no-scrollbar w-[96vw] bg-black relative z-0"
    id="main-container"
  >
    <div class="flex flex-col max-h-[915vh] overflow-hidden">
      <app-stikman-border
        class="w-[96vw] h-5vh z-20"
        [horizontalInput]="true"
      ></app-stikman-border>
      <div>
        <div
          #home
          name="home"
          class="flex flex-col h-screen w-full shadow-lg shadow-white relative overflow-hidden backgroundImage"
          id="home"
          appIsInView
          (inView)="inViewHandler($event, 'home')"
        >
          <div class="absolute z-[-2] w-full h-full">
            <video #videoElement class="w-full h-full opacity-20 object-cover">
              <source
                src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/Video%20Assets%2Fst1kman%20ai%20vid%20edit%20720%20(1)%20(1).mp4?alt=media&token=ec114fc7-fb5e-47cd-b155-ad9e827b3325"
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video>
          </div>
          <div
            *ngIf="this.isSmallScreen"
            class="h-20% flex flex-row w-full shadow-lg shadow-white items-center bg-black backgroundImage opacity-80"
          >
            <div
              class="h-full flex flex-row justify-between items-center w-full"
            >
              <img
                class="h-20vh w-25vh min-w-30 min-h-30 flex p-5"
                src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Fother%2Fstikman-banner-frame%20(1).webp?alt=media&token=132e2b34-5a12-4fd7-85f0-2506b12e9685"
                alt=""
              />
              <button
                (click)="clicked()"
                mat-button
                [matMenuTriggerFor]="menu"
                class="mr-10%"
              >
                <h1 class="font-norwester text-white text-6xl">MENU</h1>
              </button>
            </div>

            <mat-menu
              #menu="matMenu"
              xPosition="after"
              yPosition="below"
              class="mt-10"
            >
              <button
                mat-menu-item
                (click)="scrollToSection(creatorhub, 'memecenter')"
                class="font-norwester"
              >
                <h1
                  class="opacity-100 hover:opacity-50 transition-opacity large-heading-text"
                >
                  Creator Hub
                </h1>
              </button>
              <button
                mat-menu-item
                (click)="scrollToSection(creatorhub, '2deditor')"
                class="font-norwester"
              >
                <h1
                  class="opacity-100 hover:opacity-50 transition-opacity large-heading-text"
                >
                  2D Editor
                </h1>
              </button>
              <button
                mat-menu-item
                (click)="scrollToSection(creatorhub, 'downloadcenter')"
                class="font-norwester"
              >
                <h1
                  class="opacity-100 hover:opacity-50 transition-opacity large-heading-text"
                >
                  Downloads
                </h1>
              </button>
              <button
                mat-menu-item
                (click)="scrollToSection(tokenomics)"
                class="font-norwester"
              >
                <h1
                  class="opacity-100 hover:opacity-50 transition-opacity large-heading-text"
                >
                  Token Info
                </h1>
              </button>
              <button
                mat-menu-item
                (click)="scrollToSection(roadmap)"
                class="font-norwester"
              >
                <h1
                  class="opacity-100 hover:opacity-50 transition-opacity large-heading-text"
                >
                  Roadmap
                </h1>
              </button>
              <button
                mat-menu-item
                (click)="scrollToSection(games)"
                class="font-norwester"
              >
                <h1
                  class="opacity-100 hover:opacity-50 transition-opacity large-heading-text"
                >
                  Games
                </h1>
              </button>

              <button
                mat-menu-item
                (click)="scrollToSection(howtobuy)"
                class="font-norwester"
              >
                <h1
                  class="opacity-100 hover:opacity-50 transition-opacity large-heading-text"
                >
                  How To Buy
                </h1>
              </button>
              <button
                mat-menu-item
                (click)="scrollToSection(socials)"
                class="font-norwester"
              >
                <h1
                  class="opacity-100 hover:opacity-50 transition-opacity large-heading-text"
                >
                  Contact & Info
                </h1>
              </button>
            </mat-menu>
          </div>
          <div
            *ngIf="!this.isSmallScreen"
            class="h-20% flex flex-row w-full shadow-lg shadow-white backgroundImage opacity-80"
          >
            <img
              class="h-20vh w-20vh p-5"
              src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Fother%2Fstikman-banner-frame%20(1).webp?alt=media&token=132e2b34-5a12-4fd7-85f0-2506b12e9685"
              alt=""
            />

            <button
              (click)="scrollToSection(creatorhub, 'memecenter')"
              class="w-1/6 font-norwester medium-heading-text"
            >
              <h1 class="opacity-100 hover:opacity-50 transition-opacity">
                Creator Hub
              </h1>
            </button>
            <button
              (click)="scrollToSection(creatorhub, '2deditor')"
              class="w-1/6 font-norwester medium-heading-text"
            >
              <h1 class="opacity-100 hover:opacity-50 transition-opacity">
                2D Editor
              </h1>
            </button>
            <button
              (click)="scrollToSection(creatorhub, 'downloadcenter')"
              class="w-1/6 font-norwester medium-heading-text"
            >
              <h1 class="opacity-100 hover:opacity-50 transition-opacity">
                Downloads
              </h1>
            </button>
            <button
              (click)="scrollToSection(tokenomics)"
              class="w-1/6 font-norwester medium-heading-text"
            >
              <h1 class="opacity-100 hover:opacity-50 transition-opacity">
                Token Info
              </h1>
            </button>
            <button
              (click)="scrollToSection(roadmap)"
              class="w-1/6 font-norwester medium-heading-text"
            >
              <h1 class="opacity-100 hover:opacity-50 transition-opacity">
                Roadmap
              </h1>
            </button>
            <button
              (click)="scrollToSection(games)"
              class="w-1/6 font-norwester medium-heading-text"
            >
              <h1 class="opacity-100 hover:opacity-50 transition-opacity">
                Games
              </h1>
            </button>

            <button
              (click)="scrollToSection(howtobuy)"
              class="w-1/6 font-norwester medium-heading-text"
            >
              <h1 class="opacity-100 hover:opacity-50 transition-opacity">
                How To Buy
              </h1>
            </button>
            <button
              (click)="scrollToSection(socials)"
              class="w-1/6% font-norwester medium-heading-text w-1/6"
            >
              <h1 class="opacity-100 hover:opacity-50 transition-opacity">
                Contact & Info
              </h1>
            </button>
          </div>
          <div
            class="h-80% w-full items-center flex flex-col justify-center text-center overflow-hidden"
          >
            <div
              class="flex flex-col justify-center items-center mt-5 -translate-x-120 duration-1500"
              [ngClass]="{
                'translate-x-5': inViews.home && !isSmallScreen,
                'translate-x-0': inViews.home && isSmallScreen
              }"
            >
              <svg
                *ngIf="!playingVideo"
                class="mb-7 opacity-100 hover:opacity-50 transition-opacity p-8"
                type="button"
                (click)="pauseOrPlayVideo()"
                width="150"
                height="150"
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="50"
                  cy="50"
                  r="48"
                  stroke="#fff"
                  stroke-width="4"
                  fill="none"
                />
                <polygon points="40,30 75,50 40,70" fill="#fff" />
              </svg>
              <svg
                *ngIf="playingVideo"
                class="mb-7 opacity-100 hover:opacity-50 transition-opacity p-8"
                type="button"
                (click)="pauseOrPlayVideo()"
                width="150"
                height="150"
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="50"
                  cy="50"
                  r="48"
                  stroke="#fff"
                  stroke-width="4"
                  fill="none"
                />
                <rect x="35" y="30" width="10" height="40" fill="#fff" />
                <rect x="55" y="30" width="10" height="40" fill="#fff" />
              </svg>
              <h1 class="medium-heading-text font-norwester">
                Play That AI Generated Stickman Fire
              </h1>
              <h2 class="small-heading-text font-norwester pt-5">
                From the Cave walls to the digital age, St1kMan’s back, turnin’
                over the page. Now we pushin SOL to 1K.
              </h2>

              <div
                class="w-full h-2/6 flex flex-col items-center justify-center"
              >
                <div
                  class="flex flex-row w-full h-1/2 justify-center items-center"
                >
                  <a
                    class="flex flex-row justify-center items-center"
                    href="https://dexscreener.com/solana/hjidpdrr4uw97ogrhkxza7uyg7ruk2gsh9apg56jpbfc"
                    target="_blank"
                  >
                    <img
                      class="h-[8vh] w-[8vh] pt-5"
                      src="../../../assets/images/dex-screener.svg"
                      alt="Dex Screener Logo"
                    />
                    <h1 class="medium-heading-text font-norwester pt-5">
                      Dex Screener
                    </h1></a
                  >
                </div>

                <h2 class="small-heading-text font-norwester p-5">
                  Token Address: 4jMXPUb1csqxMGzpqAQSod4qGdueaN8YHMR2TYgVpump
                </h2>
              </div>
            </div>

            <div
              *ngIf="!isSmallScreen"
              class="flex flex-row w-full justify-between h-40vh"
            >
              <div
                class="flex flex-col justify-center text-center translate-y-40 align-middle items-center duration-1000 h-35vh min-w-40vh"
                [ngClass]="{ 'translate-y-5': inViews.home }"
              >
                <img
                  [ngClass]="{ 'animate-dance': playingVideo }"
                  class="w-full h-full"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Fst1kman-variations%2Fshow-hand.webp?alt=media&token=fc150362-b6cf-41ff-ab29-fc7a450acc4b"
                  alt=""
                />
              </div>
              <div
                class="flex flex-col justify-center text-center translate-y-40 align-middle items-center duration-2000 h-35vh min-w-40vh"
                [ngClass]="{ 'translate-y-5': inViews.home }"
              >
                <img
                  [ngClass]="{ 'animate-dance': playingVideo }"
                  class="w-full h-full"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Fst1kman-variations%2Fjump-point.webp?alt=media&token=108a6842-8279-4cb0-91ca-251a09c63098"
                  alt=""
                />
              </div>
              <div
                class="flex flex-col justify-center text-center translate-y-40 align-middle items-center duration-3000 h-35vh min-w-40vh"
                [ngClass]="{ 'translate-y-5': inViews.home }"
              >
                <img
                  [ngClass]="{ 'animate-dance': playingVideo }"
                  class="w-full h-full"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Fst1kman-variations%2Fhands-up.webp?alt=media&token=66d5e8e5-e5bf-4aff-8cd2-48c662124654"
                  alt=""
                />
              </div>
            </div>

            <div
              *ngIf="isSmallScreen"
              class="flex flex-row w-full justify-center items-center h-40vh"
            >
              <div
                class="flex flex-col justify-center text-center align-middle items-center h-35vh min-w-40vh animate-dance"
              >
                <img
                  class="w-full h-full"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Fst1kman-variations%2Fjump-point.webp?alt=media&token=108a6842-8279-4cb0-91ca-251a09c63098"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>

        <div #creatorhub name="creatorhub" id="creatorhub">
          <app-creator-hub #creatorHub></app-creator-hub>
        </div>

        <div
          #tokenomics
          name="tokenomics"
          class="flex flex-col w-full h-screen shadow-lg shadow-white layered-background"
          id="tokenomics"
          appIsInView
          (inView)="inViewHandler($event, 'tokenomics')"
        >
          <div
            class="p-5 w-full h-full flex flex-col justify-center items-center"
          >
            <div class="h-5% w-full flex flex-col">
              <h1 class="large-heading-text font-norwester font-bold">
                Token Info
              </h1>
            </div>

            <div
              class="w-2/3 h-95% flex flex-col justify-evenly items-center text-center overflow-y-scroll no-scrollbar"
            >
              <div class="h-full w-full flex flex-col justify-evenly">
                <p
                  class="md:medium-heading-text xs:small-heading-text font-norwester"
                >
                  5% of Supply – Pumpin’ St1kman IP We’re locking in 5% of the
                  supply to launch St1kman into the stratosphere. Expect viral
                  drops, killer collabs, wild promos – whatever it takes to make
                  this thing explode.
                </p>
                <p
                  class="md:medium-heading-text xs:small-heading-text font-norwester"
                >
                  We’re talking grassroots hype, meme squads, influencer
                  shoutouts, the works. You’ll be spotting St1kman in places
                  you’d never imagine – from street art to digital screens, he’s
                  everywhere.
                </p>
                <p
                  class="md:medium-heading-text xs:small-heading-text font-norwester"
                >
                  5% of Supply – Creators Collab Fund Time to get the creators
                  in on the action. Another 5% is stashed, ready for epic
                  collabs with top creators, meme legends, and influencers
                  who’ll push St1kman to the forefront.
                </p>
                <p
                  class="md:medium-heading-text xs:small-heading-text font-norwester"
                >
                  Maybe even throw in a hardcore challenge where $St1k is the
                  currency for the whole St1kman universe. You’ll see him repped
                  on YouTube, Twitch, TikTok – St1kman’s about to become the
                  undisputed king of crypto culture.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          #roadmap
          name="roadmap"
          class="flex flex-col w-full h-screen shadow-lg shadow-white backgroundImage"
          id="roadmap"
          appIsInView
          (inView)="inViewHandler($event, 'roadmap')"
        >
          <div class="w-full h-10% font-norwester large-heading-text p-5">
            <h1>Roadmap</h1>
          </div>
          <div *ngIf="!isSmallScreen" class="w-full h-90% grid grid-cols-2">
            <div
              *ngFor="let x of roadMapPanels"
              class="flex flex-col justify-center items-center"
            >
              <div
                class="h-90% w-90% shadow-md border-4 border-white rounded-full bg-black flex flex-col justify-center items-center"
              >
                <h1 class="small-heading-text font-norwester">
                  {{ x.title }}
                </h1>
                <h2 class="small-heading-text font-norwester">
                  {{ x.content }}
                </h2>
                <img
                  class="h-30vh w-30vh animate-spin-slow"
                  [src]="x.imgSrc"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div *ngIf="isSmallScreen" class="w-full h-90% grid grid-cols-1">
            <div
              *ngFor="let x of roadMapPanels"
              class="flex flex-col justify-center items-center"
            >
              <div
                class="h-90% w-60% shadow-md border-4 border-white rounded-full bg-black flex flex-col justify-center items-center"
              >
                <h1 class="text-white text-sm font-norwester">
                  {{ x.title }}
                </h1>
                <h2 class="text-white text-sm font-norwester">
                  {{ x.content }}
                </h2>
                <img
                  class="h-[12vh] w-[12vh] animate-spin-slow"
                  [src]="x.imgSrc"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div
          #games
          name="games"
          class="flex w-full h-screen shadow-lg shadow-white backgroundImage flex-col justify-start"
          id="games"
          appIsInView
          (inView)="inViewHandler($event, 'games')"
        >
          <app-game-embed *ngIf="!isSmallScreen"></app-game-embed>

          <div
            class="h-full w-full flex flex-col justify-center items-center text-center"
          >
            <h1 class="font-norwester large-heading-text" *ngIf="isSmallScreen">
              Please visit site on Desktop to Play Games
            </h1>
          </div>
        </div>
        <div
          #howtobuy
          name="howtobuy"
          class="flex flex-col w-full h-screen font-norwester shadow-lg shadow-white backgroundImage items-center"
          id="howtobuy"
          appIsInView
          (inView)="inViewHandler($event, 'howToBuy')"
        >
          <div class="flex flex-col h-full w-3/4 justify-evenly items-center">
            <div
              class="flex flex-col h-20% w-full shadow-md shadow-white border-4 rounded-lg bg-black justify-center items-center text-center -translate-x-130 duration-1000"
              [ngClass]="{
          'translate-x-0': inViews.howToBuy,
          
        }"
            >
              <div class="flex flex-col w-full items-center justify-center">
                <a href="https://phantom.app/" target="_blank">
                  <img
                    class="h-5vh w-20vh"
                    src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2FPhantom-Logo-Purple.png?alt=media&token=bd77882e-548f-4ab4-b441-618ed9bc9a34"
                    alt=""
                /></a>

                <h1 class="font-norwester small-heading-text p-5">
                  Create a wallet, we recommend Phantom Wallet.
                </h1>
              </div>
            </div>
            <div
              class="h-20% w-full shadow-md shadow-white border-4 rounded-lg bg-black flex flex-col justify-center items-center text-center -translate-x-130 duration-2000"
              [ngClass]="{
          'translate-x-0': inViews.howToBuy,
        
        }"
            >
              <h1 class="font-norwester small-heading-text p-5">
                Get some $SOL this can be done on andy major exchange like
                Binance, Coinbase etc. Once you have purchased your $SOL send it
                to the address of your newly created wallet.
              </h1>
            </div>
            <div
              class="h-20% w-full shadow-md overflow-y-scroll no-scrollbar shadow-white border-4 rounded-lg bg-black flex flex-col justify-center items-center text-center -translate-x-130 duration-2500"
              [ngClass]="{
          'translate-x-0': inViews.howToBuy,
         
        }"
            >
              <div
                class="flex flex-row w-full h-1/2 justify-center p-2"
                *ngIf="!isSmallScreen"
              >
                <a
                  href="https://jup.ag/swap/SOL-4jMXPUb1csqxMGzpqAQSod4qGdueaN8YHMR2TYgVpump"
                  target="_blank"
                >
                  <img
                    class="h-10vh w-20vh"
                    src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2Flogowithtext-dark.svg?alt=media&token=77899e16-294f-48d0-b545-f9fa8da77c27"
                    alt=""
                /></a>
                <a
                  href="https://raydium.io/swap/?inputMint=sol&outputMint=4jMXPUb1csqxMGzpqAQSod4qGdueaN8YHMR2TYgVpump"
                  target="_blank"
                >
                  <div class="h-10vh w-5vw pl-16 flex flex-row">
                    <img
                      class="h-10vh w-[17vh] lg:pl-16"
                      src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2Fraydium-logo.webp?alt=media&token=3fe25628-07e7-426a-ab6c-fe11bcb08acb"
                      alt=""
                    />
                    <h1
                      class="medium-heading-text font-robotomonobold pt-5 pl-5"
                    >
                      Raydium
                    </h1>
                  </div>
                </a>
              </div>
              <div
                class="flex flex-col h-1/2 w-full"
                [ngClass]="{ 'h-full': isSmallScreen }"
              >
                <h1 class="font-norwester small-heading-text p-5">
                  Go to the
                  <a
                    href="https://raydium.io/swap/"
                    class="text-solanaPurple"
                    target="_blank"
                    >Raydium</a
                  >
                  or
                  <a
                    href="https://jup.ag/"
                    class="text-solanaPurple"
                    target="_blank"
                    >Jupiter</a
                  >
                  pair links.
                </h1>
              </div>
            </div>
            <div
              class="h-20% w-full shadow-md shadow-white border-4 rounded-lg bg-black flex flex-col justify-center items-center text-center -translate-x-130 duration-3000"
              [ngClass]="{
          'translate-x-0': inViews.howToBuy,
          
        }"
            >
              <h1 class="font-norwester small-heading-text p-5">
                Swap your $SOL for $ST1k and prepare for Valhalla! .
              </h1>
            </div>
          </div>
        </div>

        <div
          #socials
          name="socials"
          class="flex flex-col w-full h-screen shadow-lg shadow-white backgroundImage"
          id="socials"
          appIsInView
          (inView)="inViewHandler($event, 'socials')"
        >
          <div *ngIf="!isSmallScreen" class="grid grid-cols-2 w-full h-80%">
            <div class="flex flex-col justify-center items-center">
              <a href="https://www.youtube.com/@St1kmanSol">
                <img
                  class="h-15vh w-15vw"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2Fyt_logo_mono_dark.png?alt=media&token=1e63ea69-0012-4499-8c6b-fbbb7d75ac1c"
                  alt=""
                />
              </a>
            </div>
            <div class="flex flex-col justify-center items-center">
              <a href="https://x.com/ST1K_Man">
                <img
                  class="h-20vh w-20vw"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2Flogo-white.png?alt=media&token=c59a54fc-66a2-4efd-b20a-60cc5906a229"
                  alt=""
                />
              </a>
            </div>
            <div class="flex flex-col justify-center items-center">
              <a href="https://www.tiktok.com/@st1kman.sol">
                <img
                  class="h-20vh w-20vw"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2FTikTok-logo-CMYK-Horizontal-white-simplified.png?alt=media&token=3f87680e-aa84-405c-9e52-ed193bba4a92"
                  alt=""
                />
              </a>
            </div>
            <div class="flex flex-col justify-center items-center">
              <a href="https://t.me/+6gy-GCMQGVhkYTdh">
                <img
                  class="h-20vh w-20vw"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2FLogo.svg?alt=media&token=d1dc91e9-f3f3-4d16-a127-8613eb0b5dd6"
                  alt=""
                />
              </a>
            </div>
          </div>

          <div
            *ngIf="isSmallScreen"
            class="flex flex-col justify-evenly w-full h-80%"
          >
            <div class="flex flex-col justify-center items-center pb-5">
              <a href="https://www.youtube.com/@St1kmanSol">
                <img
                  class="h-10vh w-25vh"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2Fyt_logo_mono_dark.png?alt=media&token=1e63ea69-0012-4499-8c6b-fbbb7d75ac1c"
                  alt=""
                />
              </a>
            </div>
            <div class="flex flex-col justify-center items-center">
              <a href="https://x.com/ST1K_Man">
                <img
                  class="h-15vh w-15vh"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2Flogo-white.png?alt=media&token=c59a54fc-66a2-4efd-b20a-60cc5906a229"
                  alt=""
                />
              </a>
            </div>
            <div class="flex flex-col justify-center items-center">
              <a href="https://www.tiktok.com/@st1kman.sol">
                <img
                  class="h-15vh w-25vh"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2FTikTok-logo-CMYK-Horizontal-white-simplified.png?alt=media&token=3f87680e-aa84-405c-9e52-ed193bba4a92"
                  alt=""
                />
              </a>
            </div>
            <div class="flex flex-col justify-center items-center">
              <a href="https://t.me/+6gy-GCMQGVhkYTdh">
                <img
                  class="h-15vh w-15vh"
                  src="https://firebasestorage.googleapis.com/v0/b/st1kmanonsol.appspot.com/o/images%2Flogos%2FLogo.svg?alt=media&token=d1dc91e9-f3f3-4d16-a127-8613eb0b5dd6"
                  alt=""
                />
              </a>
            </div>
          </div>

          <div
            class="h-20% flex flex-col w-full justify-center items-center text-center"
          >
            <h1 class="md:small-heading-text font-norwester paragraph-text p-5">
              DISCLAIMER: Purchasing Crypto Currencies are subject to market
              risks. Do your own research before purchasing any token. DO NOT
              PURCHASE ANYTHING IF YOU ARE NOT 100% SURE WHAT YOUR DOING...The
              people or the creators and content of this token or project are
              not held responsible in any way for your loss or profit for that
              matter. Everyone is free to use , download and create using
              anything on this page.
            </h1>
          </div>
        </div>
      </div>
      <app-stikman-border
        class="w-[96vw] h-5vh"
        [horizontalInput]="true"
      ></app-stikman-border>
    </div>
  </div>

  <app-stikman-border
    class="z-10 w-5vh"
    [horizontalInput]="false"
  ></app-stikman-border>
</div>
