<div class="h-screen w-full flex flex-col justify-start">
  <div class="h-15% w-full flex flex-row justify-evenly items-center">
    <button
      class="large-heading-text h-50% font-norwester p-5 flex items-center"
      (click)="openMemeGrid()"
    >
      Download Memes
    </button>
    <button
      class="large-heading-text h-50% font-norwester p-5 flex items-center"
      (click)="openStikEditor()"
    >
      Create Your St1kman
    </button>
  </div>

  <div
    *ngIf="!showMemeEditor"
    class="w-full h-85% grid grid-cols-3 overflow-y-scroll"
  >
    <div class="items-center text-center p-8" *ngFor="let image of images">
      <img
        (click)="downloadImage(image.url, image.name + '.jpg')"
        type="button"
        [src]="image.url"
        [alt]="image.name"
        class="h-20vh w-40vh rounded-lg shadow-lg mb-4"
      />
    </div>
  </div>

  <div
    *ngIf="showMemeEditor"
    class="flex flex-col h-85% items-center text-center w-full"
  >
    <iframe
      [src]="photopeaURL"
      frameborder="0"
      width="1200px"
      height="720px"
    ></iframe>
  </div>
</div>
