<div class="h-screen w-full flex flex-col justify-start">
  <div
    class="w-full h-85% grid md:grid-cols-3 sm:grid-cols-2 overflow-y-scroll no-scrollbar"
  >
    <div class="items-center text-center p-8" *ngFor="let image of images">
      <img
        (click)="downloadImage(image.url, image.name)"
        type="button"
        [src]="image.imgSrc || image.url"
        [alt]="image.name"
        class="h-15vh w-20vh rounded-lg shadow-lg mb-4"
      />
      <h1 *ngIf="showNamesIn" class="small-heading-text font-norwester">
        {{ image.name }}
      </h1>
    </div>
  </div>
</div>
