<div
  class="h-screen w-full flex flex-col justify-start overflow-y-scroll no-scrollbar"
>
  <div class="w-fit h-fit grid md:grid-cols-4 sm:grid-cols-2">
    <div
      class="items-center flex flex-col justify-evenly p-8 md:h-25vh md:w-fit rounded-lg"
      *ngFor="let image of images"
    >
      <img
        (click)="downloadImage(image.url, image.name)"
        class="rounded-lg"
        type="button"
        [src]="image.imgSrc || image.url"
        [alt]="image.name"
      />
      <h1 *ngIf="showNamesIn" class="text-sm text-white font-norwester pt-3">
        {{ image.name }}
      </h1>
    </div>
  </div>
</div>
